.container{
  background-color: rgba(241, 236, 236, 0.603);
  height: 100vh;
 
}
.col-md-12{
  border-style: solid;
  border-color: #0000ff;
  background: linear-gradient(to bottom, #0000ff 0%, #33ccff 100%);
}

.col-md-3{
  border-style: solid;
  border-color: #83839e;
  width: 15%;
  background-color: #CCCCFF;
  position: absolute;
  height: 100%;
  
}
.col-md-9{
  margin-left: 300px !important;
}

li a {
  font-weight: bold;
}

tr {
  height: 30px;
}


